_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor

_layouts/cv_backup.html
_news_backup/*
_pages/projects_backup.md
_projects_backup/*
_bibliography/papers_backup.bib